body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("metropolitana-di-delhi-mappa-su-un-foglio-illustrativo-messa-a-fuoco-selettiva-2a8ark6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

h3 {
    color: #00529F;
    font-size: .4em;
    text-align: center;
    margin-bottom: .5em;
}

#title {
    font-size: 5em;
    margin-left: -80%;
    margin-bottom: 80%;
    margin-bottom: 1em;
}

#main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #222222;
    margin: 0 auto;
    padding: 2em;
    width: 80%;
    max-width: 600px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 0.5em;
    margin-bottom: 30px;
    margin-right: 1em;
    border: 2px solid #353535;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 1em;
    border: none;
    border-radius: 5px;
    border: 2px solid #353535;
    background-color: #868686;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #494949;
}

#lista {
    margin-top: 1em;
}

#lista .col {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.cerchio {
    background-color: rgb(255, 251, 0);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 1em;
    font-weight: bold;
    border: 1rem solid rgb(255, 251, 0);
}

.orari {
    display: flex;
    flex-wrap: wrap;
}

.orario {
    margin-right: 0.5em;
}